

.hama{
    background-image: url(./1678119497_bogatyr-club-p-solntse-minimalizm-foni-krasivo-35\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.gora{
    margin-top: 42px;
    margin-left: 122px;
    display: inline-block;
}
span{
    padding: 5px;
    color: white;
}
.s{
    margin-left: 224px;
    font-size: 22px;
    margin-top: -5px;
    color: white;
}
.btn1{
    background-color: rgb(0, 0, 0);
    display: inline-block;
    padding: 10px 15px;
    color: white;
    cursor: pointer;
    transition: 0.35s;

}
.btn1:hover{
    background-color: rgb(150, 150, 150);
    color: black;}
    .hama1{
        margin-left: 1800px;
        margin-top: -90px;
        padding: 10px;
        color: white;
    }
    .item{
        padding: 10px;
        color: white;
    }
    .exp{
        font-size: 72px;
        font-weight: 900;
        margin-left: 122px;
        margin-top: 100px;
        color: white;
    }
    .c{
        padding: 10px;
    }
    .l{
        font-size: 30px;
        font-weight: 400;
        margin-left: 122px;
        color: white;
    }
    .q{
        font-size: 20px;
        font-weight: 500;
        margin-left: 122px;
        color: white;
    }
    .hama2{
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        background-image: url(./otlichnaya-zastavka-dlya-lyubitelya-prirody-v-stile-igry.jpg);
    }
    .z{
        margin-left: 124px;
        font-size: 50px;
        font-weight: 700;
        margin-top: -30px;
    }
    .x{
        margin-left: 124px;
    }
.bn{
    font-size: 20px;
margin-top: 30px;
margin-left: 126px;

}
.hama3{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-image: url(./1636644610_33-papik-pro-p-fonovie-risunki-peizazh-35.jpg);
}
.te{
    margin-top: -20px;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    color: white;
}
.tu{
    font-size: 20px;
    text-align: center;
    color: white;
    font-weight: 400;
}
.circle{
    justify-content: space-between;
}
.xs{
    justify-content: space-around;
}
                                                                  
